{% extends './blog/base.html' %}
{% block main %}
    <h3 class="text-muted">在学习Python过程中练习的项目</h3>
    <div class="p-2 text-muted">
        <h4 class="mt-4">1.<a href="https://github.com/gao-001/django-blog">django-blog</a></h4>
        <p >基于《Django 企业开发实战》的博客项目，也就是本项目</p>
        <h4 class="mt-4">2.<a href="https://github.com/gao-001/Vue-jianshu">Learn_Vue</a></h4>
        <p>一个新手学习vue的一个简单项目，麻雀虽小五脏俱全。</p>
        <h4 class="mt-4">3.<a href="https://github.com/gao-001/Blog">Flask_blog</a></h4>
        <p>基于《Flask Web开发》的博客项目</p>
    </div>


{% endblock %}