<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>{% block title %}首页{% endblock %} - Typeidea 博客系统</title>
    <link rel="stylesheet" href="{% static 'bootstrap-4.5.0-dist/css/bootstrap.css' %}" type="text/css">
    {% block extra_head %}{% endblock %}
</head>
<body style="background-image: url({% static 'image/darkness.png' %})">
<!-- 导航栏 -->
{% include './navbar.html' %}


<div class="container mt-3">

    {% block main %}
    {% endblock %}

</div>
<div>

    <hr class="mt-3"/>
    <footer class="mt-4 text-muted">
        <div class="card-body text-center">
            <p class="card-text">基于Python3.6+Gunicorn+Nginx+Supervisor构建</p>
            <p class="card-text mb-1">Copyright&nbsp;&copy;&nbsp;<span id="year-info"></span>
                <a href="https://github.com/gao-001" target="_blank">Gao</a>.&nbsp;Powered&nbsp;by&nbsp;Django,bootstrap4
            </p>
        </div>
    </footer>
</div>
</body>
</html>

<!-- JS, Popper.js, and jQuery -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>


<script src="{% static 'bootstrap-4.5.0-dist/js/bootstrap.js' %}"></script>