{% extends './base.html' %}
{% block title %}{{ post.title }}{% endblock %}
{% block extra_head %}
    <link rel="stylesheet"
          href="http://cdn.staticfile.org/highlight.js/10.0.0/styles/isbl-editor-dark.min.css">
    <script src="http://cdn.staticfile.org/highlight.js/10.0.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <style>
        img {
            max-width: 80%;
            margin: 0 auto;
            display: block;
        }
    </style>
{% endblock %}


{% block main %}
    {% if post %}
        <h3 class="h3 font-weight-bold text-decoration-none">{{ post.title }}</h3>
        <hr class="my-1"/>

        <p class="text-muted">
            作者：<a class="mr-2" href="{% url 'author' post.owner_id %}">{{ post.owner.username }}</a>
            分类：<a class="mr-2" href="{% url 'category-list' post.category.id %}">{{ post.category.name }}</a>
            发布：{{ post.created_time|date:"Y-m-d" }}
        </p>
        <div class="text-muted my-3">
            {% autoescape off %}
                {{ post.desc }}
            {% endautoescape %}
        </div>
        <div class="overflow-auto">
            {% autoescape off %}
                {{ post.content_html }}
            {% endautoescape %}
        </div>



        <div class="mt-5">
            <h4>评论</h4>
            <form class="form-group mt-2" method="post" action="/comment" style="width: 50%">
                {% csrf_token %}
                <input name="post_id" value="{{ post.id }}" type="hidden">
                <div class="input-group">
                    {{ comment_form.content }}
                    <div class="input-group-append">
                        <button type="submit" class="btn  btn-info btn-sm">写好了</button>
                    </div>
                </div>
            </form>


            <ul class="list-group list-unstyled">

                {% for comment in comments %}
                    <li class="ml-2">
                        {% autoescape off %}
                            {{ comment.content }}
                        {% endautoescape %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}

